/* 
    Author: Vijay Thapa;
    Theme: Restaurant Food Order;
    version: 1.0;
*/

/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}

.img-responsive-logo{
    width: 130%;
    margin: 0 auto;
}

.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}
.unavai{
    text-align: center;
    font-weight: 700;
    font-size: 150%;
}



.text-main{
    color: #ec217b;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ec217b;
    text-decoration: none;
}
a:hover{
    color: #ce1e6d9a;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ec217b;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ce1e6d9a;
}

.btn-remove{
    background-color: #b12722;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-remove:hover{
    background-color: #792718;
}

h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}

.float-container{
    position: relative;
}

.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}

.fieldset{
    border: 3px solid black;
    margin: 5%;
    padding: 3%;
    border-radius: 20px;
}

fieldset{
    border: 3px solid black;
    margin: 5%;
    padding: 3%;
    border-radius: 20px;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.tbl-full{
    width: 100%;
}

legend{
    font-size: 150%;
    font-weight: bold;
    width: 180px;
}

.error{
    text-align: center;
    font-weight: 700;
    font-size: 150%;
    padding: 2%;
    color:rgba(158, 12, 12, 0.801);
}

.success{
    text-align: center;
    font-weight: 700;
    font-size: 150%;
    padding: 2%;
    color:rgba(0, 128, 0, 0.678);
}
/* CSSS for navbar section */

.logo{
    width: 10%;
    margin: 10px auto;
    float: left;
}
.menu{
    line-height: 60px;
    margin: 1% auto;
}
.menu ul{
    list-style-type: none;
    margin: 0 auto;
}

.menu ul li{
    display: inline;
    font-size: 120%;
    padding: 20% 1%;
    font-weight: bold;
}


/* CSS for Food SEarch Section */

.food-search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order-bg{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%;
    font-size: 140%; 
    font-weight: bold;
}

.disclaimer{
    padding-left: 3%;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
}

.disclaimer-list{
    padding-left: 10%;
    padding-bottom: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
}

.disclaimer-list li:not(:last-child) {
    margin-bottom: 20px;
}



/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .btn-danger{
        background-color: #b12722;
        padding: 1%;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .btn-danger:hover{
        background-color: #792718;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 50%;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}




  
